@media only screen and (max-device-width: 480px) {
    body {
        background-image: url("./Background.jpg");
        text-align: center;
    }

    .transbox {
        text-align: justify;
    }

    h1 {
        font-family: Georgia;
        text-transform: uppercase;
        text-align: center;
    }

    .intro {
        font-weight: bold;
        font-style: italic;
    }
}