body {
    background-image: url("./Background.jpg");
    border: white 10px dotted;
    text-align: center;
}

.transbox {
    margin: 0 auto;
    background-color: white;
    opacity: 0.5;
    font-size: 24px;
    text-align: justify;
    max-width: 90%;
}

p {
  margin: 5%;
  color: black;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
}

.intro {
    font-weight: bold;
    font-style: italic;
}
