body {
    background-image: url(Background.jpg);
    padding-right: 8cm;
    padding-left: 8cm;
    border: white 10px dotted;
    text-align: center;
}

.transbox {
    margin: 30px;
    background-color: white;
    opacity: 0.5;
    font-size: 24px;
    text-align: justify;
}

p {
  margin: 5%;
  color: black;
}

h1 {
    font-family: 'Lucida Sans';
    text-transform: uppercase;
    text-align: center;

    
}

.intro {
    font-weight: bold;
    font-style: italic;
}





